<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> <%= viewTitle %> </h1>
    <form  action="/parameters" method="POST">
    <label>Add Item</label>
    <input name="Item" placeholder="Add Item" required/>
    <button type="submit">Add Item</button>
    </form><br>
    <a href=  "/mongo">Mongodb</a><br><br>
    <a href="/middlewares">middlewares</a><br><br>
    <a href="/cookies">Cookies</a><br><br>
</body>
</html>
